body{
  background-color:#a880ff;
}
p{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 200%;
  text-align: middle;
}
hr{
  background-color: black;
    color: black;
    border: solid 2px;
    height: 5px;
    width: 1000px ;
}
h1{
  font-family: "Playfair Display";
	font-size: 18px;
	font-style: oblique;
	font-variant: normal;
	font-weight: 400;
	line-height: 18px;
}
  
